body {
    font-family: Noto Serif;
}

.appContainer {
    position: relative;
    /* z-index: 1; */
}

.mainContainer {
    position: relative;
    display: flex;
    justify-content: center;
    /* z-index: 1; */
    width: 100%;
}

.map-and-list {
    display: flex;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.logo {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
}

.trailinfo-star {
    display: flex;
}

.miles-location {
    margin-left: 130px;
    display: flex;
}

.list-items {
    display: flex;
    background-color: white;
    border: solid;
    border-radius: 3px;
    height: 100px;
    font-size: 12px;
}
.trail-info {
    margin-left: -100px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.difficulty {
    cursor: pointer;
    margin-left: 100px;
    width: 400px;
    text-align: center;
}

.popup {
    margin: 0;
    padding: 0;
}

.popup-name {
    margin: 0;
    padding: 0;
}

.popup-summary {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.popup-difficulty {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#commentForm {
    width: 50%;
    height: 100px;
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
}

#authorForm {
    border-radius: 5px;
    padding-top: 0;
    padding-left: 0;
}
/* 
.modalGuts {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #ffe4cb;
    text-align: center;
    border: 2px solid rgb(122, 185, 119);
    border-radius: 10px;
    z-index: 9999;
    font-family: 'Arial';
    font-weight: 250;
} */
.favIcon {
    margin-top: 10px;
    font-size: 20px;
    color: green;
}
.trail-name {
    cursor: pointer;
    margin-top: -10px;
    margin-left: 110px;
    font-size: 15px;
    font-family: Noto Serif;
    text-overflow: ellipsis;
    display:flex;
}

.trail-name p {
    margin-bottom: -10px;
}

/* #trailImage {
    border: 2px solid rgb(122, 185, 119);
    border-radius: 10px;
    text-align: center;
    z-index: 2;
} */

#diff-key {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    overflow: auto;
    background-color: #ffe4cb;
    text-align: center;
    border: 2px solid darkgreen;
    border-radius: 5px;
    /* z-index: 2; */
}

.list-display {
    max-height:700px;
    overflow-y:scroll;
    width: 35%;
}

.location {
    margin-left: 4px;
}

.green, .greenBlue {
    background-color: green;
    color: white;
}

.blue, .blueBlack {
    background-color: blue;
    color: white;
}

.black, .blackBlack {
    background-color: black;
    color: white;
}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: cornsilk;
    overflow: auto;
    border-radius: 10px;
    outline: none;
    padding: 20px;
}

.Modal textarea, .Modal img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.Modal h3, .Modal h4  {
    margin: 0px;
}

.Modal h3 {
    font-size: 28px;
}

.Modal h4 {
    color: rgba(0, 0, 0, 0.6);
}

.trailImgInfo {
    display: flex;
    justify-content: space-between; 
    margin: 10px 0 0 0;  
}

.trailImage {
    max-width: 70%;
}

.trailInfo {
    max-width: 35%;
}

.trailSummary {
    margin: 0px;
    font-size: 20px;
    font-style: italic;
}

.trailDetails {
    margin: 20px 0 0 0;

}

.updateDate {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6)
}

.Overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.75);
}
