html,
body {
	height: 100%;
}
body {
	margin: 0;
}
#content,
.container,
.login-Container,
#blurEffect {
	height: 100%;
}
#blurEffect {
	background-image: url("/assets/mountainslogin.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.login-Container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* -webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px); */
}

.loginArea {
	/* justify-content: center; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 65%;
	width: 30%;
	/* border: 10px solid black; */
	background: rgba(29, 28, 28, 0.3);
	/* margin: 140px 0px -10px 0px; */
	box-shadow: 0px 0px 7px rgb(0, 0, 0);
}

#logoMix {
	width: 400px;
	height: 250px;
	max-width: 400px;
	max-height: 250px;
}
.pic {
	filter: invert(1) brightness(90%);
	/* filter: brightness(10%); */
	max-width: 400px;
	max-height: 300px;
	opacity: 0.9;
}

.userInfo {
	margin-top: 10%;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 60%;
	/* display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 120%; */
}

.username {
	height: 12%;
	width: 125%;
	background: transparent;
	border: none;
	border-bottom: 2px solid rgb(207, 203, 203);
	outline: none;
	margin-top: 0%;
}
.username[type="text"] {
	font-size: 35px;
	color: rgb(211, 206, 206);
}

.password {
	align-content: start;
	height: 12%;
	width: 125%;
	background: transparent;
	border: none;
	border-bottom: 2px solid rgb(207, 203, 203);
	outline: none;
	margin-top: 12%;
}
.password[type="password"] {
	font-size: 35px;
	color: rgb(211, 206, 206);
}

.loginbtn {
	/* margin: 20px 60px -8px 40px; */
	/* -webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
	color: white;
	border-radius: 10%;
	font-size: 20px; */
	/* padding: 6px 20px; */
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #318b0d;
	padding: 25px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	width: 105%;
	margin-top: 17%;
	font-size: 20px;
}
.loginbtn:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}
.link {
	width: 65%;
}
.sign-up-button {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(92, 54, 22);
	padding: 28px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	width: 100%;
	margin-bottom: 25%;
	font-size: 20px;
	/* display: flex;
	align-items: flex-end;
	justify-content: flex-end; */
	/* margin: 100px 460px -90px 0px; */
}
.sign-up-button:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}
